/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,700&display=swap'); */

:root {
  --primary-background: #0b0e11;
  --secondary-background: #1d1a1a;
  --primary-text: #ededed;
  --secondary-text: #d8d8d8;
  --primary: #f54748;
  --secondary: #3c394c;
  --container-width: 1200px;
  --border-radius: 8px;
}
html,
body {
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
	scroll-behavior: smooth;
}
body {
	background-color: var(--primary-background);
}
::selection {
	background-color: var(--primary);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--primary-text);
}
input,
button,
a,
textarea {
	outline: none;
	font-family: 'Roboto', sans-serif;
}
/*SCROLL ANIMATION*/
.scroll {
	transition-delay: 1s;
}
.scroll.scroll-opacity {
	transition: 1s opacity;
	opacity: 0;
}
.scroll.scroll-opacity.scrolled {
	opacity: 1;
}
.scroll.scroll-from-left {
	position: relative;
	left: -16px;
	transition: left .5s, opacity .4s;
  transition-delay: .5s;
  opacity: 0;
}
.scroll.scroll-from-left.scrolled {
	left: 0;
  opacity: 1;
}
.scroll.scroll-from-right {
	position: relative;
	right: -16px;
	transition: right .5s, opacity .4s;
  transition-delay: .5s;
  opacity: 0;
}
.scroll.scroll-from-right.scrolled {
	right: 0;
  opacity: 1;
}
/*STYLES*/
a {
	text-decoration: none;
}
a.anchor {
	display: block;
	position: relative;
	top: -250px;
	visibility: hidden;
}
@media (max-width: 768px) {
	a.anchor {
		top: -90px;
	}
}
.section {
	display: flex;
	justify-content: center;
	padding: 64px 20px;
}
/*NAVBAR*/
.navbar-wrapper {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 32px 24px 24px;
  background-color: var(--primary-background);
}
.navbar {
	width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.navbar a {
	font-size: 18px;
	text-transform: uppercase;
	white-space: nowrap;
}
.nav-link {
	margin-left: 32px;
	text-transform: uppercase;
	font-size: 16px;
	border-bottom: 2px solid transparent;
	transition: 0.3s border ease-out;
}
.nav-link:hover {
	border-bottom: 2px solid var(--primary);
}
.mobile {
	justify-content: space-between;
	align-items: center;
}
.hamburger {
	display: none;
	width: 32px;
	height: 16px;
	cursor: pointer;
	position: relative;
}
.hamburger div {
	width: 32px;
  border-radius: 4px;
	right: 0;
	background-color: var(--secondary-text);
	height: 2px;
}
.nav {
	display: flex;
	position: relative;
	align-items: center;
}
.nav-links {
	display: flex;
	align-items: center;
}
.cross {
	cursor: pointer;
	display: none;
	width: 32px;
	height: 32px;
	position: absolute;
	top: 20px;
	right: 20px;
}
.cross div {
	position: absolute;
	width: 2px;
	height: 32px;
	top: 0;
	left: 50%;
	background-color: var(--primary-text);
	transform: rotate(-45deg);
}
.cross div:last-child {
	transform: rotate(45deg);
}
.mobile {
	display: flex;
}
.mobile a {
	font-size: 24px;
  font-weight: 600;
  color: var(--secondary-text);
}

@media (max-width: 1280px) {
	.nav-link {
		font-size: 14px;
	}
}

@media (max-width: 768px) {
	.extras-bg {
		display: block;
	}
	.extras-bg-skew {
		display: block;
	}
  .navbar-wrapper {
    padding: 0;
  }
	.navbar {
		flex-direction: column;
		background-color: transparent;
	}
	.mobile {
		padding: 24px 16px;
		background-color: var(--primary-background);
	}
	.nav-wrapper {
    display: none;
		position: fixed;
		left: 0;
		top: 0;
		flex-direction: column;
		height: 100%;
		padding: 12px;
		width: 100%;
		background-color: var(--secondary-background);
	}
	.nav {
		background-color: var(--primary-background);
		height: 100%;
		flex-direction: column;
		justify-content: center;
		width: 100%;
    border-radius: var(--border-radius);
	}
	.cross {
		display: block;
	}
	.nav-link {
		margin-left: 0;
		text-align: center;
		font-weight: bold;
		color: var(--primary-text);
		font-size: 16px;
		letter-spacing: 1.6px;
		margin-bottom: 40px;
		border-bottom: 2px solid transparent;
		transition: 0.3s ease-out border;
	}
	.nav-link:hover {
		color: var(--primary);
		border-bottom: 2px solid var(--primary);
	}
	.nav-link:last-child {
		padding: 4px 12px;
    margin-bottom: 0;
	}
	.nav-links {
		flex-direction: column;
	}
	.hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
	}
}
/*HERO SECTION*/
.hero-section {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-top: 90px;
}
.hero-content {
	display: flex;
	max-width: 800px;
	padding: 12px;
	flex-direction: column;
	align-items: center;
}
.hero-content h1 {
	font-size: calc(100px + 6vw);
	text-transform: uppercase;
	font-weight: 900;
}
.hero-content h2 {
	font-size: calc(40px + 1vw);
	text-transform: uppercase;
	font-weight: 900;
}
.hero-buttons {
	margin-top: 32px;
	display: flex;
	width: 100%;
	justify-content: center;
}
.hero-buttons a {
	background-color: var(--primary);
	outline: none;
	border: none;
	color: var(--primary-background);
  font-weight: 500;
	font-size: 16px;
	padding: 20px 60px;
	border-radius: var(--border-radius);
	text-transform: uppercase;
	white-space: nowrap;
	margin: 0 16px;
	width: 100%;
	max-width: 400px;
	align-self: center;
	transition: 0.4s ease-in-out;
  border: 2px solid transparent;
}
.hero-buttons a:hover {
  background-color: transparent;
  color: var(--primary);
  border-color: var(--primary);
	cursor: pointer;
}
.hero-buttons .hero-button-secondary {
	background-color: var(--secondary);
	color: white;
}
.hero-buttons .hero-button-secondary:hover {
	border-color: var(--secondary);
	color: var(--primary-text);
}
@media (max-width: 550px) {
	.hero-content h1 {
		font-size: calc(80px + 6vw);
	}
	.hero-content h2 {
		font-size: 40px;
		margin-bottom: auto;
	}
	.hero-content {
		width: 100%;
		justify-content: center;
	}
	.hero-buttons {
		flex-direction: column;
		margin-top: 100px;
	}
	.hero-buttons a {
		margin-left: 0;
		margin-right: 0;
		margin-top: 20px;
	}
}
@media (max-width: 456px) {
	.hero-buttons a {
		font-size: 14px;
	}
}
@media (min-height: 800px) {
	.hero-section {
		padding-top: 100px;
		align-items: center;
	}
}
/*ABOUT*/
.about {
	max-width: var(--container-width);
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.about-header {
	white-space: nowrap;
	margin-right: 100px;
}
.about-title {
	font-size: 32px;
	text-transform: uppercase;
	font-weight: 600;
}
.about-subtitle {
	display: block;
	text-transform: uppercase;
	margin-bottom: 12px;
	font-weight: 400;
	font-size: 18px;
	min-width: 550px;
}
.line {
	margin-top: 20px;
	width: 40px;
	border-radius: 5px;
	height: 2px;
	background-color: var(--primary);
}
.about-text {
	font-size: 20px;
	font-weight: 300;
	line-height: 1.4;
}
@media (max-width: 1280px) {
	.about-title {
		font-size: 26px;
	}
	.about-subtitle {
		font-size: 14px;
	}
	.about-text{
		font-size: 18px;
	}
}
@media (max-width: 1280px) {
	.about-subtitle {
		min-width: unset;
	}
	.about-text {
		max-width: 500px;
	}
}
@media (max-width: 1024px) {
	.about-header {
		margin-right: 48px;
	}
} 
@media (max-width: 768px) {
	.section.about-section {
		padding-top: 0;
	}
	.about {
		flex-direction: column;
		align-items: center;
	}
	.line {
		margin: 20px auto;
	}
	.about-header {
		margin-bottom: 24px;
		justify-content: center;
		text-align: center;
		margin-right: 0;
	}
	.about-text {
		max-width: unset;
		text-align: center;
	}
}
.certificates-inner {
  display: flex;
	justify-content: center;
	align-items: center;
  max-width: var(--container-width);
  width: 100%;
  gap: 16px;
  margin: 0 auto;
}
.certificate-wrapper {
  flex: 1;
}
.certificate {
  width: 100%;
  height: auto;
	cursor: pointer;
	border-radius: var(--border-radius);
}

@media (max-width: 768px) {
	.certificates-inner {
		flex-direction: column;
	}
	.certificate {
		max-width: 350px;
	}
	.section {
		padding: 64px 16px;
	}
}
@media (max-width: 500px) {
	.certificate {
		max-width: 100%;
	}
}
/*FOOTER*/
.footer {
  padding: 20px;
  background-color: var(--secondary-background);
}
.footer .footer-copyright {
  text-align: center;
}